<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
  <!-- <script src="angular.min.js"></script> -->
  <script src="app.js"></script>

  <body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as list">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="value">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="list.menu_lists();">Narrow It Down For Me!</button>
    
    </div>

    <!-- found-items should be implemented as a component --> 
    <br>
    <found-items title="Items found" list="list.searchResult" result= "list.onRemove(index)" on-Remove="list.onRemove(index)"></found-items>
  </div>
</body>
</html>